<h1>About</h1>

<p>
  This site is the final application in
  <a href="https://www.learnenough.com/ruby-tutorial"><em>Learn Enough Ruby
    to Be Dangerous</em></a>
  by <a href="https://www.michaelhartl.com/">Michael Hartl</a>,
  a tutorial introduction to the
  <a href="https://www.ruby-lang.org/en/">Ruby programing language</a> that
  is part of
  <a href="https://www.learnenough.com/">LearnEnough.com</a>.
  Read the <a href="https://www.learnenough.com/story">Learn Enough Story</a>
  to learn more.
</p>

<p>
  <em>Learn Enough Ruby to Be Dangerous</em> is a natural prerequisite to
  the <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>, a book and video series that is one of leading
  introductions to web development. <em>Learn Enough Ruby</em> is also an
  excellent choice <em>after</em> the <em>Rails Tutorial</em> for those who
  prefer to start with the latter first.
</p>