<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Learn Enough Ruby Sample App | <%= @title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
        rel="stylesheet">
</head>
<body>
<a href="/" class="header-logo">
  <img src="/images/logo_b.png" alt="Learn Enough logo">
</a>
<div class="container">
  <%= erb :navigation %>
  <div class="content">
    <%= yield %>
  </div>
</div>
</body>
</html>